* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

a {
  color: white;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

a, button {
  cursor: pointer;
}

button:-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background: #ffffff;
}
.index{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.index__container{
    width: 100%;
    display: flex;
}
.index__personal{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 100px;
    margin-top: 20px;
}
.index__personal__excel{
    margin-top: 20px;
    background: transparent;
}
.optional{
    position: fixed;
    top: 170px;
    right: 20px;
    width: 60%;
    height: 90%;
}
#nav{
    margin-top: 100px;
    margin-left: 30px;
    width: 40%;
}
.optional__adding{
    width: 100%;
    height: 100%;
    //border: 2px solid black;
    
}
.parent{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
}
.parent::before{
    content: '';
    position: absolute;
    border-right: 1px solid grey;
    height: 103%;
    left: -5px;
}
.second__parent{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 20px;
    position: relative;
}
.second__parent::before{
    content: '';
    position: absolute;
    border-right: 1px solid grey;
    height: 165%;
    left: -5px;
}
/* .third__parent{
    cursor: pointer;
    margin-left: 20px;
} */
.add__button{
    position: relative;
    margin-top: 5px;
    width: max-content;
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    flex-direction: row-reverse;
    background: transparent;
    align-items: center;
}
.add__button::before{
    content: '';
    position: absolute;
    border-right: 1px solid grey;
    height: 165%;
    left: -5px;
    top: -3px;
}
.add__button__img{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.optional__adding__content{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    //opacity: 0;
    //z-index: -10;
}
.optional__adding__item{
    display: flex;
    margin-top: 20px;
}
.optional__adding__item:first-child{
    margin-top: 0;
}
.optional__adding__item__title{
    font-size: 18px;
}
.optional__adding__item__inp{
    padding-left: 10px;
    margin-left: auto;
    border: 1px solid black;
    height: 25px;
    width: 220px;
    font-size: 18px;
}
.optional__adding__item__button{
    margin-left: auto;
    background: transparent;
    width: 150px;
    height: 40px;
    background: #ececec;
}
//.show{
//    opacity: 1;
//    z-index: 1;
//}
.registration{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration__container{
    width: 325px;
    height: 580px;
    display: flex;
    flex-direction: column;
}
.registration__item{
    margin-top: 25px;
    display: flex;
}
.registration__item input{
    border-bottom: 1px solid #4B4B4B;
    margin-left: auto;
    width: 100%;
    padding-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #4B4B4B;

}
.registration{
    font-size: 20px;
}
#regpost{
    margin-left: auto;
}
.registration__btn{
    width: max-content;
    margin-top: 25px;
    padding: 4px 117px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: #FF9494;
}
.auth{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth__container{
    width: 289px;
    height: 305px;
    display: flex;

}
.auth__box{
    width: 289px;
    height: 305px;
    display: flex;
    flex-direction: column;
}
.auth__box__maintitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #000000;
}
.auth__box__subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #000000;
}
.auth__box__item{
    margin-left: 0px;
    margin-top: 41px;
    display: flex;
    flex-direction: column;
}
.auth__box__inp{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #4B4B4B;
    border-bottom: 1px solid #4B4B4B;
}
.auth__box__btn{
    width: max-content;
    padding: 10px 124px;
    background: #FF9494;
    margin-top: 44px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.auth__box__reg{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #5A8CD8;
}
.auth__box__error{
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FF0000
}
.second__parent__edit-btn__img{
    width: 16px;
    height: 16px;
}
.second__parent__inner{
    display: flex;
}
.second__parent__edit-btn{
    margin-left: 10px;
    background: transparent;
}
.second__parent__delete-btn{
    margin-left: 10px;
    background: transparent;
}