<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div class = "registration">
        <div class = "registration__container">
            <div class = "registration__item">
                <div class = "registration__item__text">Имя</div>
                <input id = "regname">
            </div>
            <div class = "registration__item">
                <div class = "registration__item__text">Фамилия</div>
                <input id = "regsurname">
            </div>
            <div class = "registration__item">
                <div class = "registration__item__text">Отчество</div>
                <input id = "regpatronymic">
            </div>
            <div class = "registration__item">
                <div class = "registration__item__text">Логин</div>
                <input id = "regusername">
            </div>
            <div class = "registration__item">
                <div class = "registration__item__text">Придумайте пароль</div>
                <input id = "regpass">
            </div>

            <div class = "registration__item">
                <div class = "registration__item__text">Дата рождения</div>
                <input type="date" id = "regbday">
            </div>
            <div class = "registration__item">
                <div class = "registration__item__text">Должность</div>
                <select id = "regpost">
                    <option value="0">Ведущий конструктор</option>
                    <option value="1">Ведущий технолог</option>
                    <option value="2">Инженер-программист IT-отдела</option>
                    <option value="3">Диспетчер производства</option>
                    <option value="4">Инженер по нормированию трудоемкости</option>
                    <option value="5">Мастер участка</option>
                    <option value="6">Сотрудник отдела технической документации</option>
                </select>
            </div>
            <button class = "registration__btn" onclick = "sendRegData()">Отправить</button>
        </div>
    </div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type = "text/javascript" src = "../static/js/registration.js"></script>
</html>